<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
          <key>rank</key>
          <integer>1</integer>
          <key>playerName</key>
          <string>Ryan Fitzpatrick</string>
          <key>teamCode</key>
          <string>TB</string>
          <key>teamName</key>
          <string>Tampa Bay Buccaneers</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>78</integer>
          <key>attempts</key>
          <integer>111</integer>
          <key>completionPercentage</key>
          <real>70.3</real>
          <key>attemptsPerGame</key>
          <real>37</real>
          <key>yards</key>
          <integer>1230</integer>
          <key>averagePerCompletion</key>
          <real>11.1</real>
          <key>yardsPerGame</key>
          <real>410</real>
          <key>touchdownPasses</key>
          <integer>11</integer>
          <key>interceptions</key>
          <integer>4</integer>
          <key>firstDowns</key>
          <integer>56</integer>
          <key>firstDownPercentage</key>
          <real>50.5</real>
          <key>longest</key>
          <string>75T</string>
          <key>sacks</key>
          <integer>5</integer>
          <key>rating</key>
          <real>124.8</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>2</integer>
          <key>playerName</key>
          <string>Ben Roethlisberger</string>
          <key>teamCode</key>
          <string>PIT</string>
          <key>teamName</key>
          <string>Pittsburgh Steelers</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>92</integer>
          <key>attempts</key>
          <integer>139</integer>
          <key>completionPercentage</key>
          <real>66.2</real>
          <key>attemptsPerGame</key>
          <real>46.3</real>
          <key>yards</key>
          <integer>1140</integer>
          <key>averagePerCompletion</key>
          <real>8.2</real>
          <key>yardsPerGame</key>
          <real>380</real>
          <key>touchdownPasses</key>
          <integer>7</integer>
          <key>interceptions</key>
          <integer>4</integer>
          <key>firstDowns</key>
          <integer>58</integer>
          <key>firstDownPercentage</key>
          <real>41.7</real>
          <key>longest</key>
          <string>75T</string>
          <key>sacks</key>
          <integer>8</integer>
          <key>rating</key>
          <real>96.2</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>3</integer>
          <key>playerName</key>
          <string>Drew Brees</string>
          <key>teamCode</key>
          <string>NO</string>
          <key>teamName</key>
          <string>New Orleans Saints</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>104</integer>
          <key>attempts</key>
          <integer>129</integer>
          <key>completionPercentage</key>
          <real>80.6</real>
          <key>attemptsPerGame</key>
          <real>43</real>
          <key>yards</key>
          <integer>1078</integer>
          <key>averagePerCompletion</key>
          <real>8.4</real>
          <key>yardsPerGame</key>
          <real>359.3</real>
          <key>touchdownPasses</key>
          <integer>8</integer>
          <key>interceptions</key>
          <integer>0</integer>
          <key>firstDowns</key>
          <integer>49</integer>
          <key>firstDownPercentage</key>
          <real>38</real>
          <key>longest</key>
          <string>42</string>
          <key>sacks</key>
          <integer>5</integer>
          <key>rating</key>
          <real>122.2</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>4</integer>
          <key>playerName</key>
          <string>Kirk Cousins</string>
          <key>teamCode</key>
          <string>MIN</string>
          <key>teamName</key>
          <string>Minnesota Vikings</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>95</integer>
          <key>attempts</key>
          <integer>139</integer>
          <key>completionPercentage</key>
          <real>68.3</real>
          <key>attemptsPerGame</key>
          <real>46.3</real>
          <key>yards</key>
          <integer>965</integer>
          <key>averagePerCompletion</key>
          <real>6.9</real>
          <key>yardsPerGame</key>
          <real>321.7</real>
          <key>touchdownPasses</key>
          <integer>7</integer>
          <key>interceptions</key>
          <integer>2</integer>
          <key>firstDowns</key>
          <integer>52</integer>
          <key>firstDownPercentage</key>
          <real>37.4</real>
          <key>longest</key>
          <string>75T</string>
          <key>sacks</key>
          <integer>9</integer>
          <key>rating</key>
          <real>98.8</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>5</integer>
          <key>playerName</key>
          <string>Jared Goff</string>
          <key>teamCode</key>
          <string>LA</string>
          <key>teamName</key>
          <string>Los Angeles Rams</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>71</integer>
          <key>attempts</key>
          <integer>101</integer>
          <key>completionPercentage</key>
          <real>70.3</real>
          <key>attemptsPerGame</key>
          <real>33.7</real>
          <key>yards</key>
          <integer>941</integer>
          <key>averagePerCompletion</key>
          <real>9.3</real>
          <key>yardsPerGame</key>
          <real>313.7</real>
          <key>touchdownPasses</key>
          <integer>6</integer>
          <key>interceptions</key>
          <integer>2</integer>
          <key>firstDowns</key>
          <integer>45</integer>
          <key>firstDownPercentage</key>
          <real>44.6</real>
          <key>longest</key>
          <string>57</string>
          <key>sacks</key>
          <integer>4</integer>
          <key>rating</key>
          <real>111</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>6</integer>
          <key>playerName</key>
          <string>Derek Carr</string>
          <key>teamCode</key>
          <string>OAK</string>
          <key>teamName</key>
          <string>Oakland Raiders</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>85</integer>
          <key>attempts</key>
          <integer>111</integer>
          <key>completionPercentage</key>
          <real>76.6</real>
          <key>attemptsPerGame</key>
          <real>37</real>
          <key>yards</key>
          <integer>936</integer>
          <key>averagePerCompletion</key>
          <real>8.4</real>
          <key>yardsPerGame</key>
          <real>312</real>
          <key>touchdownPasses</key>
          <integer>2</integer>
          <key>interceptions</key>
          <integer>5</integer>
          <key>firstDowns</key>
          <integer>44</integer>
          <key>firstDownPercentage</key>
          <real>39.6</real>
          <key>longest</key>
          <string>66</string>
          <key>sacks</key>
          <integer>5</integer>
          <key>rating</key>
          <real>88.3</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>7</integer>
          <key>playerName</key>
          <string>Philip Rivers</string>
          <key>teamCode</key>
          <string>LAC</string>
          <key>teamName</key>
          <string>Los Angeles Chargers</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>75</integer>
          <key>attempts</key>
          <integer>108</integer>
          <key>completionPercentage</key>
          <real>69.4</real>
          <key>attemptsPerGame</key>
          <real>36</real>
          <key>yards</key>
          <integer>906</integer>
          <key>averagePerCompletion</key>
          <real>8.4</real>
          <key>yardsPerGame</key>
          <real>302</real>
          <key>touchdownPasses</key>
          <integer>8</integer>
          <key>interceptions</key>
          <integer>1</integer>
          <key>firstDowns</key>
          <integer>48</integer>
          <key>firstDownPercentage</key>
          <real>44.4</real>
          <key>longest</key>
          <string>42T</string>
          <key>sacks</key>
          <integer>4</integer>
          <key>rating</key>
          <real>115.7</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>8</integer>
          <key>playerName</key>
          <string>Matt Ryan</string>
          <key>teamCode</key>
          <string>ATL</string>
          <key>teamName</key>
          <string>Atlanta Falcons</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>70</integer>
          <key>attempts</key>
          <integer>106</integer>
          <key>completionPercentage</key>
          <real>66</real>
          <key>attemptsPerGame</key>
          <real>35.3</real>
          <key>yards</key>
          <integer>897</integer>
          <key>averagePerCompletion</key>
          <real>8.5</real>
          <key>yardsPerGame</key>
          <real>299</real>
          <key>touchdownPasses</key>
          <integer>7</integer>
          <key>interceptions</key>
          <integer>2</integer>
          <key>firstDowns</key>
          <integer>40</integer>
          <key>firstDownPercentage</key>
          <real>37.7</real>
          <key>longest</key>
          <string>75T</string>
          <key>sacks</key>
          <integer>7</integer>
          <key>rating</key>
          <real>106.5</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>9</integer>
          <key>playerName</key>
          <string>Patrick Mahomes</string>
          <key>teamCode</key>
          <string>KC</string>
          <key>teamName</key>
          <string>Kansas City Chiefs</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>62</integer>
          <key>attempts</key>
          <integer>93</integer>
          <key>completionPercentage</key>
          <real>66.7</real>
          <key>attemptsPerGame</key>
          <real>31</real>
          <key>yards</key>
          <integer>896</integer>
          <key>averagePerCompletion</key>
          <real>9.6</real>
          <key>yardsPerGame</key>
          <real>298.7</real>
          <key>touchdownPasses</key>
          <integer>13</integer>
          <key>interceptions</key>
          <integer>0</integer>
          <key>firstDowns</key>
          <integer>42</integer>
          <key>firstDownPercentage</key>
          <real>45.2</real>
          <key>longest</key>
          <string>58T</string>
          <key>sacks</key>
          <integer>4</integer>
          <key>rating</key>
          <real>137.4</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>10</integer>
          <key>playerName</key>
          <string>Matthew Stafford</string>
          <key>teamCode</key>
          <string>DET</string>
          <key>teamName</key>
          <string>Detroit Lions</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>88</integer>
          <key>attempts</key>
          <integer>135</integer>
          <key>completionPercentage</key>
          <real>65.2</real>
          <key>attemptsPerGame</key>
          <real>45</real>
          <key>yards</key>
          <integer>895</integer>
          <key>averagePerCompletion</key>
          <real>6.6</real>
          <key>yardsPerGame</key>
          <real>298.3</real>
          <key>touchdownPasses</key>
          <integer>6</integer>
          <key>interceptions</key>
          <integer>5</integer>
          <key>firstDowns</key>
          <integer>48</integer>
          <key>firstDownPercentage</key>
          <real>35.6</real>
          <key>longest</key>
          <string>67</string>
          <key>sacks</key>
          <integer>3</integer>
          <key>rating</key>
          <real>83.4</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>11</integer>
          <key>playerName</key>
          <string>Joe Flacco</string>
          <key>teamCode</key>
          <string>BAL</string>
          <key>teamName</key>
          <string>Baltimore Ravens</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>82</integer>
          <key>attempts</key>
          <integer>129</integer>
          <key>completionPercentage</key>
          <real>63.6</real>
          <key>attemptsPerGame</key>
          <real>43</real>
          <key>yards</key>
          <integer>889</integer>
          <key>averagePerCompletion</key>
          <real>6.9</real>
          <key>yardsPerGame</key>
          <real>296.3</real>
          <key>touchdownPasses</key>
          <integer>6</integer>
          <key>interceptions</key>
          <integer>2</integer>
          <key>firstDowns</key>
          <integer>45</integer>
          <key>firstDownPercentage</key>
          <real>34.9</real>
          <key>longest</key>
          <string>45</string>
          <key>sacks</key>
          <integer>7</integer>
          <key>rating</key>
          <real>92.8</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>12</integer>
          <key>playerName</key>
          <string>Deshaun Watson</string>
          <key>teamCode</key>
          <string>HOU</string>
          <key>teamName</key>
          <string>Houston Texans</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>63</integer>
          <key>attempts</key>
          <integer>106</integer>
          <key>completionPercentage</key>
          <real>59.4</real>
          <key>attemptsPerGame</key>
          <real>35.3</real>
          <key>yards</key>
          <integer>871</integer>
          <key>averagePerCompletion</key>
          <real>8.2</real>
          <key>yardsPerGame</key>
          <real>290.3</real>
          <key>touchdownPasses</key>
          <integer>5</integer>
          <key>interceptions</key>
          <integer>3</integer>
          <key>firstDowns</key>
          <integer>39</integer>
          <key>firstDownPercentage</key>
          <real>36.8</real>
          <key>longest</key>
          <string>39T</string>
          <key>sacks</key>
          <integer>10</integer>
          <key>rating</key>
          <real>89.8</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>13</integer>
          <key>playerName</key>
          <string>Andy Dalton</string>
          <key>teamCode</key>
          <string>CIN</string>
          <key>teamName</key>
          <string>Cincinnati Bengals</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>74</integer>
          <key>attempts</key>
          <integer>116</integer>
          <key>completionPercentage</key>
          <real>63.8</real>
          <key>attemptsPerGame</key>
          <real>38.7</real>
          <key>yards</key>
          <integer>860</integer>
          <key>averagePerCompletion</key>
          <real>7.4</real>
          <key>yardsPerGame</key>
          <real>286.7</real>
          <key>touchdownPasses</key>
          <integer>8</integer>
          <key>interceptions</key>
          <integer>5</integer>
          <key>firstDowns</key>
          <integer>43</integer>
          <key>firstDownPercentage</key>
          <real>37.1</real>
          <key>longest</key>
          <string>49</string>
          <key>sacks</key>
          <integer>4</integer>
          <key>rating</key>
          <real>91.2</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>14</integer>
          <key>playerName</key>
          <string>Aaron Rodgers</string>
          <key>teamCode</key>
          <string>GB</string>
          <key>teamName</key>
          <string>Green Bay Packers</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>77</integer>
          <key>attempts</key>
          <integer>116</integer>
          <key>completionPercentage</key>
          <real>66.4</real>
          <key>attemptsPerGame</key>
          <real>38.7</real>
          <key>yards</key>
          <integer>832</integer>
          <key>averagePerCompletion</key>
          <real>7.2</real>
          <key>yardsPerGame</key>
          <real>277.3</real>
          <key>touchdownPasses</key>
          <integer>6</integer>
          <key>interceptions</key>
          <integer>0</integer>
          <key>firstDowns</key>
          <integer>33</integer>
          <key>firstDownPercentage</key>
          <real>28.4</real>
          <key>longest</key>
          <string>75T</string>
          <key>sacks</key>
          <integer>10</integer>
          <key>rating</key>
          <real>104.5</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>15</integer>
          <key>playerName</key>
          <string>Eli Manning</string>
          <key>teamCode</key>
          <string>NYG</string>
          <key>teamName</key>
          <string>New York Giants</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>81</integer>
          <key>attempts</key>
          <integer>110</integer>
          <key>completionPercentage</key>
          <real>73.6</real>
          <key>attemptsPerGame</key>
          <real>36.7</real>
          <key>yards</key>
          <integer>800</integer>
          <key>averagePerCompletion</key>
          <real>7.3</real>
          <key>yardsPerGame</key>
          <real>266.7</real>
          <key>touchdownPasses</key>
          <integer>3</integer>
          <key>interceptions</key>
          <integer>1</integer>
          <key>firstDowns</key>
          <integer>35</integer>
          <key>firstDownPercentage</key>
          <real>31.8</real>
          <key>longest</key>
          <string>37</string>
          <key>sacks</key>
          <integer>12</integer>
          <key>rating</key>
          <real>99.1</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>16</integer>
          <key>playerName</key>
          <string>Alex Smith</string>
          <key>teamCode</key>
          <string>WAS</string>
          <key>teamName</key>
          <string>Washington Redskins</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>66</integer>
          <key>attempts</key>
          <integer>96</integer>
          <key>completionPercentage</key>
          <real>68.8</real>
          <key>attemptsPerGame</key>
          <real>32</real>
          <key>yards</key>
          <integer>767</integer>
          <key>averagePerCompletion</key>
          <real>8</real>
          <key>yardsPerGame</key>
          <real>255.7</real>
          <key>touchdownPasses</key>
          <integer>4</integer>
          <key>interceptions</key>
          <integer>1</integer>
          <key>firstDowns</key>
          <integer>36</integer>
          <key>firstDownPercentage</key>
          <real>37.5</real>
          <key>longest</key>
          <string>52</string>
          <key>sacks</key>
          <integer>6</integer>
          <key>rating</key>
          <real>102.2</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>17</integer>
          <key>playerName</key>
          <string>Case Keenum</string>
          <key>teamCode</key>
          <string>DEN</string>
          <key>teamName</key>
          <string>Denver Broncos</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>66</integer>
          <key>attempts</key>
          <integer>108</integer>
          <key>completionPercentage</key>
          <real>61.1</real>
          <key>attemptsPerGame</key>
          <real>36</real>
          <key>yards</key>
          <integer>743</integer>
          <key>averagePerCompletion</key>
          <real>6.9</real>
          <key>yardsPerGame</key>
          <real>247.7</real>
          <key>touchdownPasses</key>
          <integer>3</integer>
          <key>interceptions</key>
          <integer>5</integer>
          <key>firstDowns</key>
          <integer>32</integer>
          <key>firstDownPercentage</key>
          <real>29.6</real>
          <key>longest</key>
          <string>43T</string>
          <key>sacks</key>
          <integer>5</integer>
          <key>rating</key>
          <real>71.6</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>18</integer>
          <key>playerName</key>
          <string>Jimmy Garoppolo</string>
          <key>teamCode</key>
          <string>SF</string>
          <key>teamName</key>
          <string>San Francisco 49ers</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>53</integer>
          <key>attempts</key>
          <integer>89</integer>
          <key>completionPercentage</key>
          <real>59.6</real>
          <key>attemptsPerGame</key>
          <real>29.7</real>
          <key>yards</key>
          <integer>718</integer>
          <key>averagePerCompletion</key>
          <real>8.1</real>
          <key>yardsPerGame</key>
          <real>239.3</real>
          <key>touchdownPasses</key>
          <integer>5</integer>
          <key>interceptions</key>
          <integer>3</integer>
          <key>firstDowns</key>
          <integer>35</integer>
          <key>firstDownPercentage</key>
          <real>39.3</real>
          <key>longest</key>
          <string>56</string>
          <key>sacks</key>
          <integer>13</integer>
          <key>rating</key>
          <real>90</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>19</integer>
          <key>playerName</key>
          <string>Russell Wilson</string>
          <key>teamCode</key>
          <string>SEA</string>
          <key>teamName</key>
          <string>Seattle Seahawks</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>57</integer>
          <key>attempts</key>
          <integer>95</integer>
          <key>completionPercentage</key>
          <real>60</real>
          <key>attemptsPerGame</key>
          <real>31.7</real>
          <key>yards</key>
          <integer>716</integer>
          <key>averagePerCompletion</key>
          <real>7.5</real>
          <key>yardsPerGame</key>
          <real>238.7</real>
          <key>touchdownPasses</key>
          <integer>7</integer>
          <key>interceptions</key>
          <integer>3</integer>
          <key>firstDowns</key>
          <integer>30</integer>
          <key>firstDownPercentage</key>
          <real>31.6</real>
          <key>longest</key>
          <string>66</string>
          <key>sacks</key>
          <integer>14</integer>
          <key>rating</key>
          <real>94.9</real>
    </dict>
    <dict>
          <key>rank</key>
          <integer>20</integer>
          <key>playerName</key>
          <string>Blake Bortles</string>
          <key>teamCode</key>
          <string>JAX</string>
          <key>teamName</key>
          <string>Jacksonville Jaguars</string>
          <key>gamesPlayed</key>
          <integer>3</integer>
          <key>completions</key>
          <integer>68</integer>
          <key>attempts</key>
          <integer>112</integer>
          <key>completionPercentage</key>
          <real>60.7</real>
          <key>attemptsPerGame</key>
          <real>37.3</real>
          <key>yards</key>
          <integer>707</integer>
          <key>averagePerCompletion</key>
          <real>6.3</real>
          <key>yardsPerGame</key>
          <real>235.7</real>
          <key>touchdownPasses</key>
          <integer>5</integer>
          <key>interceptions</key>
          <integer>2</integer>
          <key>firstDowns</key>
          <integer>41</integer>
          <key>firstDownPercentage</key>
          <real>36.6</real>
          <key>longest</key>
          <string>61T</string>
          <key>sacks</key>
          <integer>4</integer>
          <key>rating</key>
          <real>86.4</real>
    </dict>
</array>
</plist>